@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --primary-color: #ffbf36;
    --accent-color: #e8860f;
    --text-color: #f99763;
    --link-color: #ffe23f;
    --background-color: #6f1818db;
    --light-gray: #e4b275fb;
    --gray: #edcd91;
    --dark-gray: #f5f2f2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

/* header{
    border: 1px solid black;
} */

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.7rem;
    padding-bottom: 4rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon{
    height: 3.575rem;
    width: 3.538rem;
}

.logo-text{
    /* color: #000000; */
    font-size: 2rem;
    font-weight: bold;
    color: #f5c879;
}

.nav{
    display: none;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #b9c9e1;
    font-size: 1.035rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
    background-color:#787af0;
}

/* #5254f8 */

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{

    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }

}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    /* display: none; */
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #8688eb;
}

.tour-button:hover{
    background-color: var(--gray);
}

.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,01);
    height: 50vh;
}

.section-Image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width:50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0; 
    }
    .section-label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.8rem;
    }
    .image-container{
    height: 67vh;
    }  
    .section-description{
    font-size: 1.1rem;
    color: var(--gray);
    width: 78%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: #906124bb;
    /* border: 1px solid #ffffff; */
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    height: 1.6rem;
    /* color: #8688eb; */
}

.logo-txt{
    font-size: 1rem;
    color: #000000;
}

@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 1.9rem;
        font-weight: bold;
    }
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 1.95rem;
    font-weight: bold;
}

.main-description{
    color: var(--background-color);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    /* gap: 1rem; */ 
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1.5rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 128, 86);
    padding:1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-container{
    background-color: var(--dark-gray);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-svg{ 
    width: 1.5rem;
    height: 1.5rem;
} 

.feature-title{
    color: var(#000000);
    font-weight: bold;
    font-size: 1.125rem;
}

.feature-description{
    color: var(#000000);
}

.feature-card:nth-child(1){
    background-color: #2588fa;
}

.feature-card:nth-child(2){
    background-color: #f93d6c;
}

.feature-card:nth-child(3){
    background-color: #ca8001;
}

.feature-card:nth-child(4){
    background-color: #00a4aa;
}

.feature-card:nth-child(5){
    background-color: #2b8202;
}

.feature-card:nth-child(6){
    background-color: #5750a2;
}

.feature-card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,1,0.2);
    /* border: 2px solid rgb(229, 181, 7); */
}

@media screen and (max-width:668px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.testimonial-container{
    /* background-color: var(--background-color); */
    /* padding: 02rem 17rem 02rem 17rem; */
    margin: 0 auto;
    max-width: 1280px;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}

.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card{
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
    border: 2px solid rgb(229, 181, 7);
}

.testimonial-avatar img{
    height: 6rem;
    width: 6rem;
    border-radius: 4rem;
}

.testimonial-text{
    color: #f49b9b;
    font-size: 0.875rem;
}

.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-desc{
    color: #f8aaaa;
    font-size: 0.875rem;
}

.newsletter-container{
    /* background-color: ; */
    /* padding: 2rem; */
    /* padding: 2rem 17rem 2rem 17rem; */
    max-width: 1280px;
    height: 40vh;
    width: 100vh;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
}

.news-left img{
    position: absolute;
    inset: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

@media screen and (min-width:640px) {

    .news-left{
        display: block;
        width: 50%;
    }
    
    .news-right{
        width: 50%;
    }

    .newsletter-container{
        padding: 2rem;
    }

}

.news-info{
    padding: 0 3rem;
}

.news-title{
    font-size: 1.5rem;
    align-items: start;
    font: bold;
    color: var(--background-color);;
} 

.news-desc{
    color: #000000;
    text-align: left;
}

.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap:0.6rem;
}

.news-email{
    background-color: var(--dark-gray);
    /* width: 100%; */
    color: #350000;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0,0.3);
}

.news-send-button{
    background-color: var(--background-color);
    color: var(--dark-gray);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.news-send-button:hover{
    background-color: var(--accent-color);
}

.privacy-policy{
    padding: 0 3rem;
    font-size: 0.76rem;
    color: #0c0303;
}

.news-link{
    text-decoration: underline;
    color: #2563eb;
}

@media screen and (min-width:640px) {
    .news-title{
        font-size: 2.5rem;
    }
}

.footer-container{
    width: 100%;
    background-color: #f5989800;
    margin: 0 auto;
    /* padding: 0 2rem; */
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footer-top{
    padding-top: 4rem;
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 3.5rem;
    height: 5rem;
    margin-left: 1.5rem;
}

.comp-logo{
    display: flex;
    justify-content: start;
    margin: -1.9rem;
}

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    color: #dec296;
    font-weight: bold;
}

.social{
    display: flex;
    gap: 1.5rem;
}

.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding: 1rem 1rem;
    padding-top: 4rem;
}

.footer-grid-heading{
    color: #edbb6aaa;  /*edbb6aaa*/
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

ul{
    list-style-type: none;
}

.footer-link{
    color: #c4bebe;
    font-size: 0.9rem;
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#horizon{
    color: #000000;
    opacity: 0.3;
}

.footer-copyright{
    color: #a29a9ad5;
    font-size: 0.75rem;
    padding-bottom: 0rem;
    margin: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e5e7eb49;
}

@media screen and (max-width: 1080px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 850px){
    /* .footer{
        flex-direction: column;
        align-items: center;
    } */
    .footer-top{
        padding-left: 1rem;
    } 
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}