.contact {
  background-color:  #210F41; /* #0A0317 #210F41 #381B6B #6633BF #7F3EE8 #9660EC #AD82F0 #C4A4F4 #DBC6F8 #F0E8FC */
  padding: 3rem 0;
  margin-top: 0rem;
  text-align: center;
}

.contact h1 {
  font-weight: 100;
  color: #AD82F0;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact p {
  color: #b4b4b4;
  margin-bottom: 10px;
  font-size: 14px;
}

form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form-input {
  margin-bottom: 20px;
  background-color: #c4a7f3;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.form-button button {
  background-color: #6633BF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  /* transition: all 0.3s ease-in-out; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-button button:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0,0.2);
  border: 1px solid #AD82F0;
  z-index: 77;
}

/* .form-button button:hover {
  background-color: #AD82F0;
} */

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
}
