.hero {
  position: relative;
  height: 100vh;
  background: url(/assets/hari_potrait.jpg);
  background-size: cover;
  z-index: 1;
  background-attachment: fixed;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1706377a;  /* #0A0317 #210F41 #381B6B #6633BF #7F3EE8 #9660EC #AD82F0 */
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
}

.hero-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-socials ion-icon {
  background-color: rgb(245, 198, 253);
  color: black;
  padding: 8px;
  border-radius: 100%;
  font-size: 18px;
}

.hero-text {
  display: flex;
}

.hero-content h2 {
  font-size: 60px;
}

.typed-cursor {
  font-size: 60px;
  opacity: 1;
}

@media only screen and (max-width: 650px) {
  .hero-content h2 {
    font-size: 30px;
  }

  .typed-cursor {
    font-size: 30px;
    opacity: 1;
  }
}
