nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1rem 0;
  /* transition: all 0.3s ease-in-out; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav:hover {
  transform: scale(1.1);
  /* box-shadow: 0 4px 8px rgba(0,0,0,0,0.2); */
  /* border: 1px solid #AD82F0; */
  /* z-index: 77; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: rgb(225, 225, 225);
  font-size: 32px;
}

.nav-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-menu li {
  font-size: 19px;
  color: rgb(251, 231, 253);
}

.bar {
  background-color: rgb(255, 252, 252);
  display: block;
  width: 23px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
  z-index: 999;
}

.sticky-nav {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #14072c; /* #0A0317 #210F41 #381B6B #6633BF #7F3EE8 #9660EC #AD82F0 */
    top: 0;
    padding: 20px 0;
    z-index: 10;
    transition: 0.3s ease-in-out;
    gap: 5rem;
    padding-top: 6rem;
    left: -100%;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translatey(-6px) rotate(-45deg);
  }
}
